{% extends 'chat/base.html' %}

{% block title %}Adding New Group{% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Adding New Group</h1>
</div>

<form method="post" action="" class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}
    <div class="p-10 lg:p-20 text-center">
        <div class="mb-5">
            <label class="text-white">Group Name</label>
            <input type="text" name="groupname" class="w-full mt-2 px-4 py-2 rounded-xl">
        </div>
    
        <button class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-tale-700">Add Group</button>
    </div>

</form>

{% endblock %}